#content {
    padding: 20px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #table{
    overflow-y:auto;
    height:160px;
    display:block;
 }
 ::-webkit-scrollbar {
  display: none;
}

#table2{
  overflow-y:auto;
  height:200px;
  display:block;
}

#content1 {
  width: 610px;
}.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  