 <mat-sidenav-container class="container">    
  <app-header *ngIf="!authservice.menuhide"></app-header><br />
  <div class="text-center" *ngIf="conninfohideShow">
  <span class="badge badge-pill badge-danger">Server Connection Lost {{connectioninfo}}</span>
  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<ngx-spinner bdOpacity = 1 bdColor = "rgba(103,97,97,0.71)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true">
  <br />
<p style="color: white" > Check your LAN/Wifi Connection </p>
</ngx-spinner>